<section
  style={{
    background: '#F5EFDC',
  }}
  class="flex flex-col gap-4 bg-cover p-6 pt-24 transition-all"
>
  <legend>
    <h2 class="text-4xl">✨</h2>
    <h2 class="font-serif text-4xl font-bold">Coding with Love, Exploring the World.</h2>
  </legend>
  <div class="flex items-center gap-4 p-2 text-xl leading-4">
    <a aria-label="GitHub" class="" href="https://github.com/xatloon" target="_blank"><span class="i-mingcute-github-line"></span></a>
    <a aria-label="Twitter/X" class="" href="https://x.com/xatloon" target="_blank"><span class="i-mingcute-social-x-line"></span></a>
    <a aria-label="Telegram" class="" href="https://t.me/xatloon" target="_blank"><span class="i-mingcute-telegram-line"></span></a>
  </div>
</section>
