---
import { ViewTransitions } from 'astro:transitions'

import Footer from '@/components/ui/footer.astro'
import Header from '@/components/ui/header.astro'
import Intro from '@/components/ui/intro.astro'
import Meta from '@/components/ui/meta.astro'

import '@/assets/style/misans-regular.css'
import '@/assets/style/misans-bold.css'
import '@/assets/style/colors.css'
import '@/assets/style/cursors.css'

interface Props {
  description?: string
  label?: string
  title?: string
}

const { description = '✨ Coding with Love, Exploring the World.', label, title } = Astro.props
---

<!doctype html>
<html class="xat-html" lang="en">
  <head>
    <Meta description={description} />
    <ViewTransitions />
    <title>{title ? `${title} | Xat` : 'Hi, Xat!'}</title>
  </head>
  <body class="min-h-screen flex flex-col items-center gap-8 bg-secondary text-major">
    <Intro label={label} title={title} />
    <Header title={title ?? 'Hi, Xat!'} />
    <main class="flex grow flex-col gap-8 rounded-2xl bg-atom xat-container" transition:name="content">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html {
    * {
      @apply 'selection:bg-primary selection:text-atom';
    }
    font-family: 'MiSans', sans-serif;
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.classList.remove('dark')
  } else {
    document.documentElement.classList.add('dark')
  }
  localStorage.setItem('theme', theme)
</script>
