---
interface Props {
  description: string
  label: string
  showRedirect?: boolean
  title: string
  url: string
}

const { description, label, showRedirect, title, url } = Astro.props;
---
<a href={url} target={showRedirect ? '_blank' : '_self'}>
  <div class="flex items-center justify-between gap-2 overflow-hidden border-2 border-decoration rounded-xl p-4 transition-colors hover:border-primary">
    <div class="flex flex-col gap-1">
      <span class="text-sm text-primary xat-typo">
        {label}
      </span>
      <h3 class="font-semi">
        {title}
      </h3>
      <p class="text-sm text-mute xat-typo">
        {description}
      </p>
    </div>
    {showRedirect && (
      <span class="i-mingcute-external-link-line grow-0 text-decoration"></span>
    )}
  </div>
</a>
