---
interface Props {
  description: string
  label: string
  showRedirect?: boolean
  title: string
  url: string
}

const { description, label, showRedirect, title, url } = Astro.props;
---
<a href={url} target={showRedirect ? '_blank' : '_self'}>
  <div class="flex items-center justify-between gap-2 overflow-hidden rounded-xl p-4 ring-2 ring-slate-200 transition-all hover:ring-slate-950 dark:ring-slate-800 dark:hover:ring-slate-50">
    <div class="flex flex-col gap-1">
      <span class="text-sm text-blue-500">
        {label}
      </span>
      <h3>
        {title}
      </h3>
      <p class="text-sm text-gray-500">
        {description}
      </p>
    </div>
    {showRedirect && (
      <span class="i-mingcute-external-link-line text-base text-slate-500"></span>
    )}
  </div>
</a>
