<footer class="text-mute xat-container" transition:name="footer">
  <p class="text-center text-sm">
    <a class="flex items-center justify-center gap-1 hover:text-primary hover:underline" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0<span class="i-mingcute-external-link-line"></span></a>
    2016-PRESENT © Xat Loon, All Rights Reserved.
  </p>
</footer>
