<footer transition:persist class="w-full py-10 text-mute tablet:w-4/5 desktop:w-2/3">
  <p class="text-center text-sm">
    <a class="flex items-center justify-center gap-1 hover:text-primary hover:underline dark:hover:text-primary-dark" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0<span class="i-mingcute-external-link-line"></span></a>
    2016-PRESENT © Xat Loon, All Rights Reserved.
  </p>
</footer>
