<footer class="text-mute xat-container text-center" transition:name="footer">
  <a class="underline" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
  <br />
  <span>2016-PRESENT © Xat Loon, All Rights Reserved.</span>
</footer>
