<footer class="w-full bg-slate-50 py-10 text-slate-500 dark:bg-slate-950 sm:w-4/5 md:w-2/3">
  <p class="text-center text-sm">
    <a class="flex items-center justify-center gap-1 hover:text-slate-950 hover:underline" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0<span class="i-mingcute-external-link-line"></span></a>
    2016-PRESENT © Xat Loon, All Rights Reserved.
  </p>
</footer>
