---
import type { Categories } from "@/types"

import { Image } from "astro:assets"

import Avatar from "@/assets/image/avatar.webp"
import Intro from "@/components/ui/intro.astro"
import ThemeToggle from "@/components/ui/theme-toggle.astro"

interface Props {
	label?: Categories
	title?: string
}

const { label, title } = Astro.props
---
<>
	<header class="xat-header sticky top-0 z-100 backdrop-blur" transition:name="header">
		<nav class="flex items-center justify-between">
			<a href="/">
				<Image
					alt="Avatar"
					class="size-10 rounded-full"
					loading="eager"
					src={Avatar}
				/>
			</a>
			<button aria-label="Scroll to Top" class="grow py-2 font-bold opacity-0 transition-opacity transition-duration-500 transition-delay-300 -z-50" id="header-title">
				<span>
					{title ?? "Hi, Xat!"}
				</span>
			</button>
			<ThemeToggle id="theme-toggle" />
		</nav>
	</header>
	<Intro label={label} title={title} />
</>

<style>
  .xat-header {
    @apply 'xat-container py-3 my-3';
  }
</style>

<script is:inline>
  // Header Title Scroll to Top
  document.getElementById('header-title').addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' })
  })
  document.addEventListener('astro:after-swap', () => {
    document.getElementById('header-title').addEventListener('click', () => {
      window.scrollTo({ top: 0, behavior: 'smooth' })
    })
  })
  // Intro Observer
  const headerToggleObserver = new IntersectionObserver(
    ([entry]) => {
      if (entry.intersectionRatio > 0) {
        document.getElementById('header-title').classList.remove('opacity-100', 'z-50')
        document.getElementById('header-title').classList.add('opacity-0', '-z-50')
      } else {
        document.getElementById('header-title').classList.add('opacity-100', 'z-50')
        document.getElementById('header-title').classList.remove('opacity-0', '-z-50')
      }
    },
  )
  headerToggleObserver.observe(document.getElementById('intro'))
  document.addEventListener('astro:before-swap', () => {
    headerToggleObserver.unobserve(document.getElementById('intro'))
  })
  document.addEventListener('astro:after-swap', () => {
    headerToggleObserver.observe(document.getElementById('intro'))
  })
</script>
