---
import { Image } from 'astro:assets'

import Avatar from '@/assets/image/avatar.webp'
---

<header class="fixed z-50 flex w-full items-center justify-between p-6 tablet:w-4/5 desktop:w-2/3">
  <a href="/">
    <Image
      alt="Avatar"
      class="rounded-full border-2 border-decoration/50 shadow-xl dark:border-decoration-dark/50"
      height={40}
      loading="eager"
      src={Avatar}
      width={40}
    />
  </a>
  <button aria-label="Theme Toggle" class="flex size-10 items-center justify-center rounded-full border-2 border-decoration/50 bg-mute/10 shadow-xl backdrop-blur dark:border-decoration-dark/50" id="theme-toggle">
    <span class="i-mingcute-sun-line size-5 dark:i-mingcute-moon-stars-line dark:size-5"></span>
  </button>
</header>
