---
import { Image } from 'astro:assets'

import Avatar from '@/assets/image/avatar.webp'
---

<header transition:persist class="xat-container fixed z-50 flex items-center justify-between">
  <a href="/">
    <Image
      alt="Avatar"
      class="size-10 border border-decoration rounded-full shadow-xl"
      loading="eager"
      src={Avatar}
    />
  </a>
  <button aria-label="Theme Toggle" class="size-10 flex items-center justify-center border border-decoration rounded-full bg-glass shadow-xl backdrop-blur" id="theme-toggle">
    <span class="i-mingcute-sun-line dark:i-mingcute-moon-stars-line size-5"></span>
  </button>
</header>
