---
import ThemeToggle from '@/components/ui/theme-toggle.astro'

interface Props {
  label?: string
  title?: string
}

const { label, title } = Astro.props
---
<section
  class="relative flex flex-col justify-evenly gap-4 pb-4 xat-container"
>
  <ThemeToggle class="absolute right-6 top-8 z-50" />
  {
    label
      ? (
        <span class="text-2xl text-primary" transition:name="label">{label}</span>
      )
      : (
        <span class="text-2xl text-primary" transition:name="label"><span class="i-mingcute-sparkles-2-fill text-4xl" /></span>
      )
  }
  {
    title
      ? (
        <h2 class="text-3xl font-bold" id="title" transition:name="title">{title}</h2>
      )
      : (
        <h2 class="text-3xl font-bold" id="title" transition:name="title">Coding with Love, Exploring the World.</h2>
      )
  }
</section>


